.wrapper{
    .header{
        .box{
            .content_grid{
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                .img{
                    .logo{
                        width: 40%;
                    }
                }
                .navbar{
                    .navbar_box{
                        display: flex;
                        justify-content: center;
                        text-align: center;
                    }
                }
            }
        }
    }
}